.perm-container {
  margin-top: 50px; }

.override-color {
  background-color: #e88a8a; }

.overridden-font {
  text-decoration: line-through; 
  font-weight: bold;}

.perm-weight-input {
  width: 50%;
  text-align: center;
  float: left; }

.perm {
  width: 20%;
  float: left;
  padding-right: 10px;
}

.left {
  font-weight: bold; }

.right {
  font-weight: bold; }

.opt-container {
  width: 100%; }

.select2 {
  width: 100% !important; }

#view-results-btn {
  margin-bottom: 10px;
  display: block;
  width: 80%;
  float: right;
}

#save-perm-btn {
  display: block;
  width: 80%;
  float: right;
}

.perm-panel {
  min-height: 180px;
}

.perm-panel>.panel-heading {
  background-color: #d6d6d6;
}

.more-info-button {
  float: right;
}

.row-highlight {
  background-color: #eaef91 !important;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.navbar-fixed-left {
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 199px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 200px;
}